.vs
raytracing.pdb

Debug/raytracing.*
Release/raytracing.*

raytracing/Debug/*
raytracing/Debug/**/*
raytracing/x64/Debug/*
raytracing/x64/Debug/**/*
raytracing/Release/*
raytracing/Release/**/*
raytracing/x64/Release/*
raytracing/x64/Release/**/*

.DS_Store
**/.DS_Store
raytracing.xcodeproj/project.xcworkspace/xcuserdata/danieldovali.xcuserdatad/UserInterfaceState.xcuserstate
